*__pycache__
/venv/
/.venv/
/shoggoth.json
/build/
/dist*
*.sublime-project
*.sublime-workspace
uv.lock
/assets/
shoggoth.ini
settings.json
.vscode/settings.json
/test_case/*.jpeg
/test_case/*.png
/test_case/*.webp